<!DOCTYPE html>
<html>
<head>
<title>知识图谱可视化</title>
<meta charset="UTF-8">
<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
<script src="https://www.layuicdn.com/layui/layui.js"></script>
<link rel="stylesheet" href=" https://www.layuicdn.com/layui/css/layui.css">
    <link th:href="${'/favicon.ico'}" rel="shortcut icon">
    <link rel="stylesheet" href="../static/page1.css">
    <style>
        #index {
                display: inline-block;
    left: 0px;
    width: 1540px;
    height: 80px;
    background-color: rgba(255,255,255,100);
    box-shadow: 0px 2px 8px 5px rgba(0,0,0,1);
        }
        </style>
</head>

<body  style="width: 1540px;height:600px;margin: 0px auto">
<div class="index">
        <p id="header">粤港澳智慧旅游资源管理系统</p>
    <div class="sub_index index_1">
        <div style="position: absolute;left: 0;top: 0">
        <img style="float: left" src="../static/logo/storage.png">
        </div>
        <div style="position: absolute;left: 50px;top:2px">
            <p style="cursor: default"><a href="/">首页</a></p>
            </div>
    </div>
    <div class="sub_index index_2" id="briefIntroduce">
        <div style="position: absolute;left: 0;top: 0">
        <img style="float: left" src="../static/logo/fancy.png">
        </div>
        <div style="position: absolute;left: 50px;top:2px">
        <p style="cursor: default" >功能概述</p>
        </div>
    </div>
    <div class="sub_index index_3">
        <div style="position: absolute;left: 0;top: 0">
        <img style="float: left" src="../static/logo/us.png">
        </div>
        <div style="position: absolute;left: 50px;top:2px">
        <p style="cursor: default">关于我们</p>
        </div>
    </div>
</div>
<table id="minitable" hidden>
    <tr style="width: 250px;height: 38px;">
        <th style="font-size: 16px;font-weight: normal;font-family:Roboto" ><a href="/kgmap" >知识图谱展现</a></th>
    </tr>
    <tr style="width: 250px;height: 38px;">
        <th style="font-size: 16px;font-weight: normal;font-family:Roboto" ><a href="#visual">数据可视化展示</a></th>
    </tr>
    <tr style="width: 250px;height: 38px;">
        <th style="font-size: 16px;font-weight: normal;font-family:Roboto" ><a>实时流量监控</a></th>
    </tr>
    <tr style="width: 250px;height: 38px;">
        <th style="font-size: 16px;font-weight: normal;font-family:Roboto" ><a href="#bot">问答机器人</a></th>
    </tr>
    <tr style="width: 250px;height: 38px;">
        <th style="font-size: 16px;font-weight: normal;font-family:Roboto" ><a href="#recom">旅游景点推荐</a></th>
    </tr>
        <tr style="width: 250px;height: 38px;">
        <th style="font-size: 16px;font-weight: normal;font-family:Roboto" ><a href="http://127.0.0.1:5001">轨迹可视化</a></th>
    </tr>
    <tr style="width: 250px;height: 38px;">
        <th style="font-size: 16px;font-weight: normal;font-family:Roboto" ><a>更多功能</a></th>
    </tr>
</table>
<div id="query" style="width: 1540px;z-index:999;height: 80px;background-color:white;position: relative;margin-top: 30px">
<div style="position: relative;margin-left: 10px ;float: left">
<label style="float: left;margin-left:0px;position: absolute;padding-top:5px;width: 100px;height: 30px;font-family: Roboto">选择旅游时间</label>
<input type="text"  style="float: left;margin-left:150px;padding-left: 20px;width: 200px;height: 30px" id="test1">
</div>
<div style="float: left;position: relative;margin-left: 80px;">
<label style="float: left;position: absolute;padding-top: 5px;width:100px;height: 30px;font-family: Roboto ">选择旅游类型</label>
    <button class="layui-btn layui-btn-primary" id="demo1" style="float:left;width:300px;height:40px;position:relative;margin-left: 120px;margin-top: -2px">
        <span  id="btntext1" style="float: left">所要的旅游类型都在这里</span>
      <i class="layui-icon layui-icon-down layui-font-12" style="float: right"></i>
    </button>
</div>
<div style="float: left;position: relative;margin-left: 80px;">
<label style="float: left;position: absolute;padding-top: 5px;width:100px;height: 30px;font-family: Roboto ">选择旅游类型</label>
    <button class="layui-btn layui-btn-primary" id="demo2" style="float:left;width:300px;height:40px;position:relative;margin-left: 120px;margin-top: -2px">
        <span  id="btntext2" style="float: left">所要的旅游类型都在这里</span>
      <i class="layui-icon layui-icon-down layui-font-12" style="float: right"></i>
    </button>
</div>
<button  id="sureBtn" style="margin-left: 40px;background-color: #00aeff" class="layui-btn layui-btn-warm layui-btn-sm">确认</button>
</div>
<div id="main" style="width:1000px;margin-top:10px;height:800px;position: absolute;background-color: #00aeff">
</div>
<img id="hide" src="../static/logo/in.png" style="position: absolute;left: 960px;top: 600px">
<div id="side" style="width: 540px;height: 800px;position: absolute;margin-top: 10px;margin-left:1000px">
    <h2 id="find" ></h2>
    <div style="float: left;position: relative;">
    <button class="layui-btn layui-btn-primary" id="demo3" style="float:left;width:250px;height:30px;margin-top:15px;margin-left:80px;position:relative;">
    <span  id="btntext3" style="float: left;margin-top: -4px">请选择排序方式</span>
    <i class="layui-icon layui-icon-down layui-font-12" style="float: right;margin-top: -4px"></i>
    </button>
</div>
  <button  id="sureBtn1" style="margin-left: 40px;background-color: #00aeff;margin-top: 15px" class="layui-btn layui-btn-warm layui-btn-sm">重置</button>
  <div class="layui-collapse" style="margin-top: 15px" id="list" lay-filter="getre" lay-accordion>

</div>
</div>
<!--Layui三个选择下拉框事件-->
<script>
    /*
    日期下拉框，实现以下功能：
    1、点击下拉框，选择开始日期和结束日期
    2、在选择结束之后将选择的结果保存在sessionstorage中
     */
    layui.use('laydate',function (){
    var laydate=layui.laydate

    laydate.render({
    elem: '#test1'
    ,type: 'month'
    ,range: true
    ,trigger: 'click'

    ,done: function(value, date, endDate){
      sessionStorage.setItem('startday',date['month'].toString())
      sessionStorage.setItem('endday',endDate['month'].toString())
    }
    ,change: function(value, date, endDate){
    sessionStorage.setItem('startday',date['month'].toString())
    sessionStorage.setItem('endday',endDate['month'].toString())
    }   //选定和改变都更新内存中的值
    });
    })
    /*
    旅游类型下拉框，实现以下功能：
    1、点击下拉框，选择指定的旅游类型
    2、在选择结束之后将选择的结果保存在sessionstorage中
     */
    layui.use('dropdown',function () {
    var dropdown=layui.dropdown;

    dropdown.render({
    elem: '#demo1'
    //,show: true
    ,data: [{
      title: '美食'
      ,href: '#1'
    },{
      title: '娱乐'
      ,href: '#2'
    },{
      title: '购物'
      ,href: '#3'
    },
    {
      title: '住宿'
      ,href: '#3'
    },
    {
      title: '旅游'
      ,href: '#3'
    }],

    click: function(e){
        var btn=document.getElementById("btntext1")
                btn.innerHTML=e['title']
        sessionStorage.setItem('type',e['title'])

    }   //选定之后将结果存放在sessionstorage中，key为’title‘
  });

})
    /*
    旅游类型下拉框2，实现以下功能：
    1、点击下拉框，选择指定的旅游类型
    2、在选择结束之后将选择的结果保存在sessionstorage中
     */
    layui.use('dropdown',function () {
    var dropdown=layui.dropdown;
    dropdown.render({
    elem: '#demo2'
    //,show: true
    ,data: [{
      title: '美食'
      ,href: '#1'
    },{
      title: '娱乐'
      ,href: '#2'
    },{
      title: '购物'
      ,href: '#3'
    },
    {
      title: '住宿'
      ,href: '#3'
    },
    {
      title: '旅游'
      ,href: '#3'
    }],
    click: function(e){
        var btn=document.getElementById("btntext2")
                btn.innerHTML=e['title']

    }

  });

})
    /*
    排序下拉框，实现以下功能：
    1、选择排序方式
     */
    layui.use('dropdown',function () {
    var dropdown=layui.dropdown;
    dropdown.render({
    elem: '#demo3'
    //,show: true
    ,data: [{
      title: '按照旅游金额排序'
      ,href: '#1'
    },{
      title: '按照时间排序'
      ,href: '#2'
    }],

    click: function(e){
        var btn=document.getElementById("btntext3")
                btn.innerHTML=e['title']
    }   //选定结果之后，改变下拉框中的占位符

  });

})
</script>
<!--侧边栏收缩展开-->
<script>
    /*
    侧边栏展开与收缩事件：
    1、在收缩的情况下点开，侧边栏进行展示
    2、在展开的情况下点开，侧边栏进行收缩
     */
    btn=document.getElementById("hide")

    btn.addEventListener('click',function (){
        var side=document.getElementById("side")
        var main=document.getElementById("main")
        if(side.hidden==false)  //在展示的时候点开，改变main盒子的尺寸，侧边栏收缩
        {
        main.style.width="1540px"
        btn.style.left="1500px"
        btn.src="../static/logo/out.png"
        side.hidden=true
        }
        else    //在收缩的时候点开，改变main盒子的尺寸，侧边栏展开
        {
            main.style.width="1000px"
            btn.style.left="960px"
            btn.src="../static/logo/in.png"
            side.hidden=false
        }
    })
</script>
<!--确定按钮事件-->
<script>
    /*
    确定按钮事件，包括以下功能：
    1、点击确定按钮后，获取下拉栏提交的信息
    2、将提交信息通过ajax发送给后端，进行查询
    3、获取后端返回的数据，进行展示
     */
    var node
    var relation
    var node1=node
    var btn=document.getElementById("sureBtn")

    btn.addEventListener('click',function ()
    {
        var data={'startmonth':sessionStorage.getItem('startday'),'endmonth':sessionStorage.getItem('endday'),'type':sessionStorage.getItem('type')}        //在网页的存储中去获得当前输入的信息。
        /*
        ajax，前后端交互部分
         */
        $.ajax({
            type:"GET",
            url:"http://127.0.0.1:5000/travalEdge", //后端相应的位置，对应app.py部分
            data:data, //传给后端的数据
            success:function (data){
                /*
                处理后端的返回，data的形式是({'node':nodelist,'relation':relation})
                 */
                node=data['node']
                relation=data['relation']

                draw(data['node'],data['relation'],[{"name":"美食"},{"name":"购物"},{"name":"娱乐"},{"name":"住宿"},{"name":"拜访"},{"name":"参观"},{"name":"摄影"},{"name":"旅游"}])//调用draw函数，进行展示

                var main=document.getElementById("main")
                main.style.backgroundColor="rgb(249,252,255)" //设置展示背景为微灰

                drawlist(node) //将travel信息放在侧边栏进行展示
            }
        })
    })
    </script>
<!--侧边栏确定按钮事件-->
<script>
    /*
    侧边栏点击事件，实现以下功能：
    1、点击侧边栏确定按钮，按照指定的方式对旅行结果进行排序
    2、按照排序之后的顺序进行展示
    功能尚未完善，因为这里只写按照金额排序，还有按照时间排序等等
     */
    var surebtn=document.getElementById("sureBtn1")
    var nodelist=document.querySelector("#list")

    surebtn.addEventListener('click',function ()
    {
        var surebtntext=document.getElementById("btntext3").innerHTML //获取选择的排序方式
        if (surebtntext=="按照旅游金额排序")
        {

            var temp=[]
            for(i=0;i<node.length;i++)
            {
                if(node[i]['category']=='7')
                {
               temp.push(node[i])
                }
            } //选出对应的travel节点

            /*
            quicksort 快速排序
            指定key，并对travel按照key进行排序
             */
            function quickSort(arr)
            {
              let length = arr.length;

              if (length <= 1) {
                return arr;
              }
              var reg = /\d+/g;
              let leftArr = [], rightArr = [], q = Number(arr[0]['cost'].match(reg)); //正则表达，选出指定位置的所有数字，这里是需要改的，就是要选择哪一部分作为你排序的key
              for (let i = 1; i < length; i++) {
                let item = Number(arr[i]['cost'].match(reg));
                item < q ? leftArr.push(arr[i]) : rightArr.push(arr[i]);
              }
              return [].concat(quickSort(leftArr), arr[0], quickSort(rightArr)); //快排
            }
            drawlist(quickSort(temp))//将经过排序之后的数据放在侧边栏进行展示
    }
    })
</script>
<!--顶部菜单栏点击事件-->
<script>
    /*
    菜单栏点击事件，实现功能：
    1、鼠标放在菜单，下拉栏展示；
    2、在下拉栏展示的情况下，鼠标移开，下拉栏关闭
     */

    var introduce=document.getElementById("briefIntroduce");
    var table=document.getElementById("minitable")
    var t=1

    introduce.addEventListener('click',function (e){
        table.hidden=false
        if(table.hidden==false) //在下拉栏显示的情况下，才触发鼠标移开事件
            table.addEventListener('mouseleave',function (e){
                table.hidden=true
            })

    })

</script>
<!--drawlist函数定义-->
<script>
    /*
    侧边栏展示函数，使用了js中的创建节点和添加节点两种方式实现：
    1、在展示前先对目标区域进行清屏
    2、对于每一个travel节点，创建展示栏，并将其插入到对应的位置
    3、再对每一个下拉栏绑定事件，当有点击的时候，着重展示对应的旅行
    3、使用layui渲染下拉效果
     */
    function drawlist(node)
    {
        //    var nodelist=document.querySelector("#list") 这个是在上面定义的全局变量
        //    在每一次开始的时候就要清屏，使用的方法是查询孩子节点，查到一个，就删一个
        while(nodelist.firstChild)
        {
            nodelist.removeChild(nodelist.firstChild)
        }

        var j=1
        for(i=0;i<node.length;i++)
        {
            if(node[i]['category']=='7')    //针对一个旅行节点
            {
                var linode=document.createElement("div")
                linode.className="layui-colla-item"    //创建一个下拉栏
                linode.id=node[i]['id'].toString()  //下拉栏的id是travel节点的id
                linode.addEventListener('click',function (){    //为每一个节点添加点击事件
                    $.ajax({
                        type:'GET',
                        url:"http://127.0.0.1:5000/getindex", //跳转的位置是app.py的getindex部分
                        data:{'id':this.id},    //传给后端的是游记的id
                        success:function (data1){   //后端返回的是与该id有关的所有节点

                            draw(data1['node'],data1['relation'],[{"name":"美食"},{"name":"购物"},{"name":"娱乐"},{"name":"住宿"},{"name":"拜访"},{"name":"参观"},{"name":"摄影"},{"name":"旅游"}])
                            //绘制知识图谱
                        }

                    })


                })
                /*
                下拉栏的标题部分
                 */
                var head=document.createElement("h2")
                head.className="layui-colla-title"
                head.innerHTML="记录"+j.toString()
                j=j+1
                linode.appendChild(head)

                /*
                下拉栏内容部分
                */
                content=document.createElement("div")
                content.className="layui-colla-content"
                /*旅游类型*/
                {
                    item1=document.createElement("div")
                    item1.style="display: inline-block;position: relative;width: 500px;height: 10px;margin-bottom: 10px"
                    type=document.createElement("div")
                    type.style="position: absolute;float: left;width: 160px;height: 20px"
                    typekey=document.createElement("a")
                    typekey.style="font-size: 16px;font-weight: bold"
                    typekey.innerHTML="旅游类型"
                    type.appendChild(typekey)
                    typename=document.createElement("div")
                    typename.style="float: right;left: 200px;height:20px;position: absolute;width: 140px"
                    a=document.createElement("a")
                    a.style="font-size: 16px"
                    a.innerHTML=node[i]['companion']
                    typename.appendChild(a)
                    item1.appendChild(type)
                    item1.appendChild(typename)
                    content.appendChild(item1)
                    linode.appendChild(content)
                }
                /*旅游金额*/
                {
                    item1=document.createElement("div")
                    item1.style="display: inline-block;position: relative;width: 500px;height: 10px;margin-bottom: 10px"
                    type=document.createElement("div")
                    type.style="position: absolute;float: left;width: 160px;height: 20px"
                    typekey=document.createElement("a")
                    typekey.style="font-size: 16px;font-weight: bold"
                    typekey.innerHTML="花费"
                    type.appendChild(typekey)
                    typename=document.createElement("div")
                    typename.style="float: right;left: 200px;height:20px;position: absolute;width: 140px"
                    a=document.createElement("a")
                    a.style="font-size: 16px"
                    a.innerHTML=node[i]['cost']
                    typename.appendChild(a)
                    item1.appendChild(type)
                    item1.appendChild(typename)
                    content.appendChild(item1)
                    linode.appendChild(content)
                }
                /*旅游时间*/
                {
                    item1=document.createElement("div")
                    item1.style="display: inline-block;position: relative;width: 500px;height: 10px;margin-bottom: 10px"
                    type=document.createElement("div")
                    type.style="position: absolute;float: left;width: 160px;height: 20px"
                    typekey=document.createElement("a")
                    typekey.style="font-size: 16px;font-weight: bold"
                    typekey.innerHTML="时间"
                    type.appendChild(typekey)
                    typename=document.createElement("div")
                    typename.style="float: right;left: 200px;height:20px;position: absolute;width: 140px"
                    a=document.createElement("a")
                    a.style="font-size: 16px"
                    a.innerHTML=node[i]['date']
                    typename.appendChild(a)
                    item1.appendChild(type)
                    item1.appendChild(typename)
                    content.appendChild(item1)
                    linode.appendChild(content)
                }
                /*旅游时长*/
                {
                    item1=document.createElement("div")
                    item1.style="display: inline-block;position: relative;width: 500px;height: 10px;margin-bottom: 10px"
                    type=document.createElement("div")
                    type.style="position: absolute;float: left;width: 160px;height: 20px"
                    typekey=document.createElement("a")
                    typekey.style="font-size: 16px;font-weight: bold"
                    typekey.innerHTML="时长"
                    type.appendChild(typekey)
                    typename=document.createElement("div")
                    typename.style="float: right;left: 200px;height:20px;position: absolute;width: 140px"
                    a=document.createElement("a")
                    a.style="font-size: 16px"
                    a.innerHTML=node[i]['day']
                    typename.appendChild(a)
                    item1.appendChild(type)
                    item1.appendChild(typename)
                    content.appendChild(item1)
                    linode.appendChild(content)
                }

                nodelist.appendChild(linode)    //插入
            }
        }

        var title=document.getElementById("find")
        title.innerHTML="共找到"+(j-1).toString()+"条相关记录"  //更新标题

        layui.use('element', function () {
            var element = layui.element;
            layui.element.render()
        })  //下拉框渲染

    }
</script>
<!--draw函数定义-->
<script>
    function draw(da,lin,cat) {
        var myChart = echarts.init(document.getElementById('main'));
        console.log(da)
        console.log(lin)
        console.log(cat)
        option = {
    title: {
      subtext: 'Default layout',
      top: 'bottom',
        tooltip:{
          formatter:function (x){
              return x.data.name
          }
        },
      left: 'right'
    },
      lineStyle:{
        normal:{
            width:30,
            color:'#4b565b'
        }
      },
color: ["#5470c6",
 "#91cc75",
 "#fac858",
  "#ee6666",
"#73c0de",
"#3ba272",
"#fc8452",
"#9a60b4",
"#ea7ccc"],
      focusNodeAdjacency: true,
    tooltip: {},
    legend: [
      {
        data: cat.map(function (a) {
          return a.name;
        })
      }
    ],
    series: [
      {
        type: 'graph',
        layout: 'force',
        data: da,
        links: lin,
        categories: cat,
        roam: true,
        label: {
          position: 'right'
        },
          draggable:true,
          symbolSize:60,
          edgeSymbol: ['circle','arrow'],
          edgeSymbolSize: [4,10],
        force: {
          repulsion: 10000

        },
        edgeLabel: {
            normal:{
                show:true,
                formatter:function (x){
                    return x.data.name;
                }
            }
        },
          Label:{
            normal:{
                show:true,
                formatter:function (x){
                    return x.data.name
                }
            }
          }
      }
    ]
  };

        myChart.setOption(option);
    }
</script>
</body>
</html>